.about-us {
    @include margin;
    margin: 10rem 0;
    // min-height: 50rem;
    background-color: $bcg-color;
    position: relative;
    padding: 3rem;
    color: $text-color;
}

.about-us__title {
    font-size: 2.5rem;
}

.about-us__descritpion {
    height: 25rem;
    font-size: 1.5rem;
    text-align: left;
    line-height: 1.75rem;
    margin-top: 3rem;
    max-width: 85rem;
    overflow-y: auto;
}

.about-us__img {
    position: absolute;
    right: 2rem;
    top: 5rem;
    z-index: -1;
}
