.admin-section {
    min-height: 5rem;
    margin: 0.5rem 0 5rem 0.5rem;
}

.admin-section__form {
    margin: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 0.25rem solid $text-color;
}

.admin-section__form__text {
    width: 50rem;
    height: 10rem;
    overflow-y: scroll;
    color: $text-color;
    background-color: $bcg-color;
    font-size: 1.4rem;
    padding: 0.5rem;
    margin-bottom: 0.25rem;
}

.admin-section__form__input {
    color: $text-color;
    background-color: $bcg-color;
    font-size: 1.4rem;
    padding: 0.5rem;
    margin-bottom: 0.25rem;
    max-width: 15rem;
}

.admin-section__btn {
    background-color: $text-color;
    color: $bcg-color;
    font-size: 1.4rem;
    padding: 0.5rem;
    margin: 0 0 0.25rem 1rem;
    max-width: 15rem;
}

.admin-section__form__button {
    background-color: $text-color;
    color: $bcg-color;
    font-size: 1rem;
    padding: 0.25rem;
    margin: 0 0 0.25rem 1rem;
    max-width: 15rem;
}

.admin-section__paragraphe {
    background-color: $bcg-color;
    color: $text-color;
    max-width: 25rem;
    margin: 0 0 0.25rem 1rem;
}

.admin-section__primary-title {
    margin-bottom: 2rem;
}

.admin-section__secondary-title {
    margin: 1rem 0;
}

.admin-section__orders-list {
    border-bottom: 0.25rem solid $text-color;
}

.admin-section__messages {
    margin-top: 2rem;
}