.footer {
    @include margin;
    display: flex;
    height: 10rem;
    justify-content: space-between;
    align-items: center;
    background-color: $bcg-color;
    color: $text-color;
    font-size: 1.5rem;
    color: $text-color;
}

.footer__left {
    font-size: 1.5rem;
    padding-left: 2rem;
    z-index: 1;
}

.footer__left__link {
    font-style: italic;
    text-decoration: none;
    color: $text-color;
}

.footer__right {
    font-size: 1.5rem;
    padding-right: 2rem;
    z-index: 1;
}