.form-to-order {
    @include margin;
    display: block;
    height: auto;
    background-color: $bcg-color;
    position: relative;
    margin-bottom: 2rem;
    padding-top: 3rem;
    color: $text-color;
    font-size: 1.5rem;
    height: 50rem;
}

.form-to-order__title {
    font-size: 2.5rem;
    color: $text-color;
    margin: 2rem;
}

.form-to-order__form {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 10rem;
    margin-left: 30rem;
}

.form-to-order__form__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 50rem;
    height: 5rem;
    margin-left: 3rem;
}

.form-to-order__form__input__text {
    font-style: italic;
}

.form-to-order__form__input__content {
    max-width: 25rem;
    height: 4rem;
    background-color: $text-color;
    color: $bcg-color;
    font-size: 1.5rem;
    border-radius: 0.25rem;
    border-color: transparent;
}

.form-to-order__form__input__button {
    position: absolute;
    width: 10rem;
    height: 3rem;
    background-color: $text-color;
    color: $bcg-color;
    font-size: 1.5rem;
    border-radius: 0.25rem;
    border-color: transparent;
    right: 30rem;
    bottom: 5rem;
}

.form-to-order__img {
    position: absolute;
    width: 25rem;
    height: 25rem;
}

.form-to-order__img--left {
    left: 2rem;
    bottom: 5rem;
}

.form-to-order__img--right {
    right: 5rem;
    top: 15rem;
}

@media(max-width: 1200px) {
    .form-to-order {
        display: block;
        text-align: center;
        height: auto;
    }

    .form-to-order__form {
        display: block;
        margin: 0;
        position: static;
    }

    .form-to-order__form__input {
        display: block;
        margin-top: 0.75rem;
       margin-left: 0;
    }


    .form-to-order__img {
        display: none;
        width: 0;
        height: 0;
        position: static;
    }

    .form-to-order__img--left {
        left: 0;
        bottom: 0;
    }
    
    .form-to-order__img--right {
        right: 0;
        top: 0;
    }

    .form-to-order__form__input__content {
        font-size: 1rem;
    }

    .form-to-order__form__input__button {
       right: 1rem;
       margin-top: 2.5rem;
    }
}