.form-to-message {
    @include margin;
    display: flex;
    justify-content: space-around;
    height: auto;
    background-color: $bcg-color;
    position: relative;
    margin-bottom: 2rem;
    padding-top: 3rem;
    color: $text-color;
    font-size: 1.5rem;
}

.form-to-message__main__text {
    font-size: 2rem;
    color: $text-color;
}

.form-to-message__main__text__description {
    margin: 1rem 0 5rem 2rem;
}

.form-to-message__main__text--bold {
    font-weight: 900;
}

.form-to-message__main__text__link {
    text-decoration: none;
}

.form-to-message__main__form {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 10rem;
    margin-top: 2rem;
}

.form-to-message__main__form__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 40rem;
    height: 5rem;
    margin-left: 3rem;
}

.form-to-message__main__form__input__text {
    font-style: italic;
}

.form-to-message__main__form__input__content {
    height: 4rem;
    background-color: $text-color;
    color: $bcg-color;
    font-size: 1.5rem;
    border-radius: 0.25rem;
    border-color: transparent;
}

.form-to-message__main__form__input__button {
    position: absolute;
    width: 10rem;
    height: 3rem;
    background-color: $text-color;
    color: $bcg-color;
    font-size: 1.5rem;
    border-radius: 0.25rem;
    border-color: transparent;
    right: 10rem;
    bottom: 5rem;
}

.form-to-message__map__content {
    width: 40rem;
    height: 30rem;
    border-color: transparent;
}

.bad-answer {
    color: red;
}

.good-answer {
    color: green;
}

@media(max-width: 1200px) {
    .form-to-message {
        display: block;
        text-align: center;
    }

    .form-to-message__main__form__input {
        display: block;
        margin-top: 0.75rem;
        margin-left: 0;
    }

    .form-to-message__main__form__input__content {
        font-size: 1rem;
    }

    .form-to-message__main__form__input__button {
        right: 1rem;
    }

    .form-to-message__map__content {
        max-width: 100%;
    }
}