.header {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
    color: darken($text-color, 75%);
    text-shadow: 0.1rem 0.1rem 0.25rem rgba(255,255,255,0.75);
    position: relative;
    z-index: 1;
}

.header__wrapper-title {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 1rem;
    z-index: 1;
}

.header__wrapper-title__main-title {
    text-decoration: underline;
    font-size: 3rem;
    color: darken($text-color, 15%);
}

.header__wrapper-title__description {
    font-size: 1.75rem;
    color: darken($text-color, 15%);
}

.header__menu {
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 1;
}

.header__menu__hamburger {
    display: none;
}

.header__menu__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-right: 3rem;
}

.header__menu__list__element {
    display: flex;
    text-align: center;
    padding: 0.75rem;
    
}

.header__menu__list__element__link {
    text-decoration: none;
    color: darken($text-color, 75%);
    transition: 150ms;
    font-size: 1.5rem;
    text-shadow: 0.1rem 0.1rem 0.25rem rgba(255,255,255,0.75);
}

.header__menu__list__element__link:hover {
    color: darken($text-color, 25%);
    border-bottom: solid 0.0825rem darken($text-color, 25%);
}

.header__image {
    grid-column: 1/3;
    grid-row: 2/3;
    max-width: 100%;
}

@media(max-width: 720px) {
    .header {
        display: block;
    }

   .header__menu {
    display: block;
   }

   .header__menu__hamburger {
    background-color: black;
    width: 3rem;
    height: 0.25rem;
    display: block;
    position: relative;
    margin: 3rem 0 3rem 2rem;
}

.header__menu__hamburger::before {
    content: "";
    margin-bottom: 0.25rem;
    position: absolute;
    top: -0.75rem;
    width: 3rem;
    height: 0.25rem;
    background-color: black;
    transition: 0.3s;
}

.header__menu__hamburger::after {
    content: "";
    margin-bottom: 0.25rem;
    position: absolute;
    top: 0.75rem;
    width: 3rem;
    height: 0.25rem;
    background-color: black;
    transition: 0.3s;
}

.header__menu__hamburger--cross {
    background-color: transparent;
    margin-bottom: 1rem;
}

.header__menu__hamburger--cross::before {
    transform: rotate(45deg);
    top: 0;
    transition: 0.3s;
}

.header__menu__hamburger--cross::after {
    transform: rotate(-45deg);
    top: 0;
    transition: 0.3s;
}

   
    .header__menu__list {
        display: block;
    }

    .header__menu__list--hidden {
        display: none;
    }
}
