.honeys-descriptions {
    @include margin;
    background-color: $bcg-color;
    position: relative;
    padding-top: 3rem;
    color: $text-color;
}

.honeys-descriptions__title {
    font-size: 2.5rem;
    margin: 2rem;
}

.honeys-descriptions__section-of-choices__button {
    width: 15rem;
    height: 2rem;
    background-color: transparent;
    border: transparent;
    border-left: 0.125rem solid grey;
    border-right: 0.125rem solid grey;
    border-bottom: 0.125rem solid grey;
    text-align: center;
    line-height: 100%;
    color: $text-color;
    cursor: pointer;
}

.honeys-descriptions__section-of-choices__button:focus{
    font-weight: 800;
    background-color: lighten($text-color, 45%);
    outline: 0;
}

.honeys-descriptions__section-of-choices__button--first-btn {
    font-weight: 800;
    background-color: lighten($text-color, 45%);
    outline: 0;
}

.honeys-descriptions__section-of-descriptions__one-description {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 2fr;
    padding: 2rem;
}

.honeys-descriptions__section-of-descriptions__one-description__name {
    grid-column: 2/4;
    grid-row: 1/2;
    padding: 1rem 0 0 2rem;
    font-size: 2rem;
}

.honeys-descriptions__section-of-descriptions__one-description__description {
    grid-column: 2/4;
    grid-row: 2/4;
    padding: 2rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    height: 20rem;
    overflow-y: auto;
}

.honeys-descriptions__section-of-descriptions__one-description__image {
    grid-column: 1/2;
    grid-row: 1/4;
    width: 100%;
    height: 32rem;
}

@media (max-width: 720px) {

    .honeys-descriptions__section-of-choices__button {
        display: block;
        margin: 0 auto;
    }

    .honeys-descriptions__section-of-descriptions__one-description {
        display: block;
    }
    .honeys-descriptions__section-of-descriptions__one-description__image {
        max-height: 15rem;
    }
}