.prices {
    @include margin;
    margin: 10rem 0;
    height: 50rem;
    background-color: $bcg-color;
    position: relative;
    padding: 3rem;
    color: $text-color;
    z-index: 2;
}

.prices__title {
    font-size: 2.5rem;
}

.prices__list {
    list-style: none;
}

.prices__list__element {
    display: flex;
    margin: 2rem;
}

.prices__list__element__text {
    font-size: 2rem;
}

.prices__list__element__text--space {
    margin: 0 1rem 0 1rem;
}

.prices__img {
    position: absolute;
    right: 15%;
    top: 5%;
    width: 70rem;
    height: auto;
    z-index: -1;
}


@media(max-width: 720px) {
    .prices {
        height: 35rem;
    }

    .prices__img {
        max-width: 50rem;
        z-index: -1;
    }

    .prices__list {
        overflow-y: auto;
        height: 25rem;
    }

    .prices__list__element {
        display: block;
    }
}