* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-attachment: fixed;
    background-image: url(../images/bcg-FHD.png);
    background-size: cover;
    position: relative;
    max-width: 100%;
    height: 100%;
    margin: auto;
}

html {
    min-height: 100vh;
    height: auto;
    position: relative;
    overflow-x: hidden;
}

html:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparentize($bcg-color, 0.4);
    z-index: -1;
}
